.Horizontal {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-width: 60vw;
}

.Horizontal__text {
  display: flex;
  white-space: nowrap;
  gap: 4vw;
  padding-left: 40%;
}

.heading-xl {
  font-size: clamp(2rem, 8vw, 6rem);
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
}
